In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor

In [8]:
df = pd.read_csv("/content/sample_data/online_shoppers_intention.csv")
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Month"] = le.fit_transform(df["Month"])
df["VisitorType"] = le.fit_transform(df["VisitorType"])
df["Weekend"] = le.fit_transform(df["Weekend"])
df["Revenue"] = le.fit_transform(df["Revenue"])

In [6]:
X = df.drop(['Revenue', 'Weekend'], axis=1)  # Features
y_revenue = df['Revenue']  # Target variable for revenue prediction
y_weekend = df['Weekend']  # Target variable for weekend prediction

# splitting the data into training and testing sets
X_train, X_test, y_revenue_train, y_revenue_test, y_weekend_train, y_weekend_test = train_test_split(
    X, y_revenue, y_weekend, test_size=0.2, random_state=42)

# Choosing the ensemble learning algorithm (Random Forest)
model_revenue = RandomForestClassifier()  # Random Forest for revenue prediction
model_weekend = RandomForestClassifier()  # Random Forest for weekend prediction

# Training the models
model_revenue.fit(X_train, y_revenue_train)
model_weekend.fit(X_train, y_weekend_train)

# Evaluating the models (optional)
revenue_accuracy = model_revenue.score(X_test, y_revenue_test)
weekend_accuracy = model_weekend.score(X_test, y_weekend_test)
print("Revenue Accuracy:", revenue_accuracy)
print("Weekend Accuracy:", weekend_accuracy)

Revenue Accuracy: 0.8925385239253852
Weekend Accuracy: 0.7615571776155717

In [7]:
X = df.drop(['Informational_Duration'], axis=1)  # Features
y = df['Informational_Duration']  # Target variable

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Choosing the ensemble learning algorithm (Random Forest)
model = GradientBoostingRegressor()  # Random Forest for regression

# Training the model
model.fit(X_train, y_train)

# Evaluating the model (optional)
accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.40235087787440094